@use "util/color.scss" as *;
@use "util/fonts.scss" as *;

.content-container {
    section {
        margin-left: 5px;

        display: flex;
        flex-direction: column;

        .sectionHeader {
            display: flex;
            flex-direction: row;
            
            align-items: center;

            h2 {
                @include set-font($roboto);
            }

            button {
                margin-left: 1em;
                height: 2em;
                width: 2em;
                
                background-color: white;
                border: 1px solid $primary;
                border-radius: 3px;
                
            }

            button:hover {
                background-color: darken(white, 20%);
                transition: all .2s ease-in-out;
            }
        }

        .sectionContent {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            margin-left: 0.5em;

            .serviceItem {
                width: 10vw;
                height: 10vw;

                min-width: 156px;
                min-height: 156px;

                margin: 1.1em 1.1em 0 0;
                padding: 1em;
                background-color: white;

                box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
                transition: all 0.3s cubic-bezier(.25,.8,.25,1);

                display: flex;
                flex-direction: column;
                justify-content: center;
                place-items: center;

                .serviceIcon {
                    justify-self: center;
                    width: 128px;
                    height: 128px;
                }

                .serviceName {
                    @include set-font($montserrat);
                    text-align: center;
                }
            }

            .serviceItem:hover {
                box-shadow: 0 12px 23px rgba(0,0,0,0.25);
            }

        }
 
    }
}