@forward "./util.scss";
@forward "./login.scss";
@forward "./nav.scss";
@forward "./dashboard.scss";

html,body {
    width: 100%;
    padding:0;
    margin:0;
}

.defaultHidden {
    display: none;
}