.border-red {
    box-shadow: 0px 0px 3px 3px rgba(255,0,0,0.65);
    --webkit-box-shadow: 0px 0px 3px 3px rgba(255,0,0,0.65);
}

.border-bottom-red {
    border: 1px solid red !important;
}

.hidden {
    height: 0;
    width: 0;
    display: none;
}